// sources
@import 'src/_var.scss'; // project variables
@import 'src/_wordpress.scss'; // wp classes
@import 'src/_bootstrap.scss'; // bootstrap
@import 'src/_jquery.fancybox.scss'; // fancybox
@import 'src/_slick.scss'; // slick slider
// modules

// utilites
*{outline: none !important;}
.wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	min-width: 320px;
}
.container{
	min-width: 320px;
}
.webber{
	img{
		height: 30px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

// buttons
.btn-blue{
	background: #30a9de;
	color: #fff;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 13px 45px;
	border-radius: 23px;
	transition: all .3s;
	&:hover,
	&:active,
	&:focus{
		background: darken(#30a9de,10%);
		color: #fff;
	}
}
.btn-main-contacts-blue{
	background: #30a9de;
	border-radius: 0;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	transition: all .3s;
	&:hover,
	&:active,
	&:focus{
		background: darken(#30a9de,10%);
		color: #fff;
	}
}
//form-call
.form-call{
	.form-control{
		border-radius: 0;
	}
}